In [1]:
from pathlib import Path

import sys
sys.path.append('../')

from veg2hab.waswordtlijst import WasWordtLijst, opschonen_was_wordt_lijst
from veg2hab.definitietabel import DefinitieTabel, opschonen_definitietabel

### Was-Wordt lijst opschonen en inladen

VvN en SBB codes worden gecheckt op validiteit bij:
1. het opschonen van een was-wordt lijst
2. bij het inlezen van een opgeschoonde was-wordt lijst

In [2]:
path_in = Path("../data/5. Was-wordt-lijst-vegetatietypen-en-habitattypen-09-02-2021.xlsx")
path_out = Path("../testing/opgeschoonde_waswordt.xlsx")
opschonen_was_wordt_lijst(path_in, path_out)

Alle SBB codes zijn valide
Alle VvN codes zijn valide

In [3]:
wwl = WasWordtLijst.from_excel(path_out)
wwl.df.head(20)

Alle SBB codes zijn valide
Alle VvN codes zijn valide

       VvN    SBB
0   14rg10   14-l
1      NaN    7-a
2      NaN   8b-b
3      NaN   11/c
4      NaN  11a-b
5      NaN   14/f
6      NaN   19-f
7      NaN   19-h
8      NaN  20a1c
9      NaN   33a7
10     NaN   14/a
11     NaN   16/f
12     NaN   37-a
13     NaN  40a-d
14     NaN  41a/b
15     NaN   42-e
16     NaN   43-c
17     NaN   43-e
18     NaN   43-f
19     NaN   14-m

### Definitietabel opschonen en inladen

VvN en SBB codes worden gecheckt op validiteit bij:
1. het opschonen van een definitietabel
2. bij het inlezen van een opgeschoonde definitietabel

In [4]:
path_in = Path("../data/definitietabel habitattypen (versie 24 maart 2009)_0.xls")
path_out = Path("../testing/opgeschoonde_definitietabel.xlsx")
opschonen_definitietabel(path_in, path_out)

Alle SBB codes zijn valide
Alle VvN codes zijn valide

In [5]:
dt = DefinitieTabel.from_excel(path_out)
dt.df.head(20)

Alle SBB codes zijn valide
Alle VvN codes zijn valide

,Habitattype,Kwaliteit,VvN,mits,mozaiek,SBB
0,H1130,G,2aa1,mits in de FGR Getijdengebied en mits gelegen ...,NaN,NaN
1,H1130,G,2aa2,mits in de FGR Getijdengebied en mits gelegen ...,NaN,NaN
2,H1130,G,3aa1,mits in de FGR Getijdengebied en mits gelegen ...,NaN,NaN
3,H1130,G,3aa2,mits in de FGR Getijdengebied en mits gelegen ...,NaN,NaN
4,H1140_A,G,2aa1,mits in de slikkige en fijnzandige delen van F...,NaN,NaN
5,H1140_A,G,3aa1,mits in de slikkige en fijnzandige delen van F...,NaN,NaN
6,H1140_A,G,3aa2,mits in de slikkige en fijnzandige delen van F...,NaN,NaN
7,H1160,G,2aa1,mits in de FGR Getijdengebied en mits in een i...,NaN,NaN
8,H1160,G,3aa1,mits in de FGR Getijdengebied en mits in een i...,NaN,NaN
9,H1160,G,3aa2,mits in de FGR Getijdengebied en mits in een i...,NaN,NaN
10,H1310_A,G,25aa1,mits in het kustgebied,NaN,NaN
11,H1310_A,G,25aa2,mits in het kustgebied,NaN,NaN
12,H1310_A,G,25aa3,mits in het kustgebied,NaN,NaN
13,H1310_B,G,27aa1,mits in het kustgebied,NaN,NaN
14,H1310_B,G,27aa2a,mits in het kustgebied,NaN,NaN
15,H1320,G,24aa1,NaN,NaN,NaN
16,H1320,M,24aa2,NaN,NaN,NaN
17,H1330_A,G,2aa1,NaN,alleen in mozaïek met zelfstandige vegetaties ...,NaN
18,H1330_A,G,3aa1,NaN,alleen in mozaïek met zelfstandige vegetaties ...,NaN
19,H1330_A,G,3aa2,NaN,alleen in mozaïek met zelfstandige vegetaties ...,NaN