# Voorbeeld van omzetting door Veg2Hab

In [1]:
from pathlib import Path

import sys
sys.path.append('../')

from veg2hab.waswordtlijst import WasWordtLijst, opschonen_was_wordt_lijst
from veg2hab.definitietabel import DefinitieTabel, opschonen_definitietabel
from veg2hab.vegkartering import Kartering
import pandas as pd

/home/jordydelange/.cache/pypoetry/virtualenvs/veg2hab-CuqoUkZb-py3.7/lib/python3.7/site-packages/geopandas/_compat.py:115: UserWarning: The Shapely GEOS version (3.11.2-CAPI-1.17.2) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

### Was-Wordt lijst opschonen en inladen

VvN en SBB codes worden gecheckt op validiteit bij:
1. het opschonen van een was-wordt lijst
2. bij het inlezen van een opgeschoonde was-wordt lijst

In [2]:
path_in_wwl = Path("../data/5. Was-wordt-lijst-vegetatietypen-en-habitattypen-09-02-2021.xlsx")
path_out_wwl = Path("../testing/opgeschoonde_waswordt.xlsx")
opschonen_was_wordt_lijst(path_in_wwl, path_out_wwl)
wwl = WasWordtLijst.from_excel(path_out_wwl)
wwl.df

/home/jordydelange/.cache/pypoetry/virtualenvs/veg2hab-CuqoUkZb-py3.7/lib/python3.7/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
/home/jordydelange/.cache/pypoetry/virtualenvs/veg2hab-CuqoUkZb-py3.7/lib/python3.7/site-packages/pandas/core/missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
/home/jordydelange/.cache/pypoetry/virtualenvs/veg2hab-CuqoUkZb-py3.7/lib/python3.7/site-packages/pandas/core/missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

Alle SBB codes zijn valide
Alle VvN codes zijn valide
Alle SBB codes zijn valide
Alle VvN codes zijn valide

         VvN    SBB
0     14rg10   14-l
1       None    7-a
2       None   8b-b
3       None   11/c
4       None  11a-b
...      ...    ...
1127    None   43-b
1128    None   43-d
1129    None   42-d
1130    None  43c1j
1131    None  41a3d

[1132 rows x 2 columns]

### Definitietabel opschonen en inladen

VvN- en SBB-codes worden gecheckt op validiteit bij:
1. het opschonen van een definitietabel
2. bij het inlezen van een opgeschoonde definitietabel

In [3]:
path_in_dt = Path("../data/definitietabel habitattypen (versie 24 maart 2009)_0.xls")
path_out_dt = Path("../testing/opgeschoonde_definitietabel.xlsx")
opschonen_definitietabel(path_in_dt, path_out_dt)
dt = DefinitieTabel.from_excel(path_out_dt)
dt.df.head(10)

Alle SBB codes zijn valide
Alle VvN codes zijn valide

/home/jordydelange/.cache/pypoetry/virtualenvs/veg2hab-CuqoUkZb-py3.7/lib/python3.7/site-packages/pandas/core/missing.py:49: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask = arr == x
/home/jordydelange/.cache/pypoetry/virtualenvs/veg2hab-CuqoUkZb-py3.7/lib/python3.7/site-packages/pandas/core/missing.py:60: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= arr == x

,Habitattype,Kwaliteit,SBB,VvN,mits,mozaiek
0,H1110_A,GoedMatig.GOED,50a,None,mits in de slikkige en fijnzandige delen van F...,<NA>
1,H1110_A,GoedMatig.GOED,50b,None,mits in de slikkige en fijnzandige delen van F...,<NA>
2,H1110_A,GoedMatig.GOED,50c,None,mits in de slikkige en fijnzandige delen van F...,<NA>
3,H1110_B,GoedMatig.GOED,50a,None,mits in de grofzandige delen van FGR Getijdeng...,<NA>
4,H1110_B,GoedMatig.GOED,50b,None,mits in de grofzandige delen van FGR Getijdeng...,<NA>
5,H1110_B,GoedMatig.GOED,50c,None,mits in de grofzandige delen van FGR Getijdeng...,<NA>
6,H1130,GoedMatig.GOED,None,2aa1,mits in de FGR Getijdengebied en mits gelegen ...,<NA>
7,H1130,GoedMatig.GOED,None,2aa2,mits in de FGR Getijdengebied en mits gelegen ...,<NA>
8,H1130,GoedMatig.GOED,None,3aa1,mits in de FGR Getijdengebied en mits gelegen ...,<NA>
9,H1130,GoedMatig.GOED,None,3aa2,mits in de FGR Getijdengebied en mits gelegen ...,<NA>

## Inladen kartering vanaf shapefile

Bij het inladen van een kartering vanaf een shapefile moeten de relevante kolommen meegegeven worden.

In [4]:
shp_path = Path("../testing/vegetatiekarteringen/GR/SGL Hunzedal en Leekstermeer2021/2021 Vegetatiekartering Leekstermeer2021/GIS bestanden Onlanden 2021/Vegetatiekartering_Leekstermeer2021.shp")
Kartering.from_shapefile(shp_path, "elmid", SBB_col="SBBTYPE", vegtype_split_char="+").gdf

,elmid,SBBTYPE,geometry,VegTypeInfo
0,144,08C-a+16-a,"POLYGON ((225536.382 578550.118, 225536.613 57...","[(100.0%, VvN: [], SBB: ['12b1d'])]"
1,143,08-a+08C2c,"POLYGON ((225518.346 578389.608, 225514.596 57...","[(100.0%, VvN: [], SBB: ['50a'])]"
2,73,16-a,"POLYGON ((225398.991 578372.192, 225399.792 57...","[(50.0%, VvN: [], SBB: ['12b1d']), (50.0%, VvN..."
3,62,12B1d+50A,"POLYGON ((225338.120 578506.385, 225330.908 57...","[(100.0%, VvN: [], SBB: ['16-a'])]"
4,111,50A+08B3d,"POLYGON ((225731.271 578748.007, 225730.075 57...","[(100.0%, VvN: [], SBB: ['32-f'])]"
...,...,...,...,...
266,193,12B1d,"POLYGON ((225335.414 578905.115, 225334.448 57...","[(100.0%, VvN: [], SBB: ['12b1d'])]"
267,220,08-k,"POLYGON ((225121.987 578757.930, 225125.003 57...","[(100.0%, VvN: [], SBB: ['32-f'])]"
268,58,08B3a+08C-f,"POLYGON ((225297.768 578230.760, 225292.476 57...","[(100.0%, VvN: [], SBB: ['50a'])]"
269,249,39A1c+08B3a,"POLYGON ((224515.275 578618.372, 224510.014 57...","[(100.0%, VvN: [], SBB: ['50a'])]"
270,279,16-f,"POLYGON ((224256.535 578360.968, 224254.155 57...","[(100.0%, VvN: [], SBB: ['50a'])]"

## Inladen en omzetten van een access kartering

- Voor ieder vlak in de kartering wordt de (complexe) SBB code opgezocht.
- Deze SBB-codes worden opgeschoond en gevalideerd.
- De SBB codes worden toegevoegd aan de dataframe van de kartering als VegTypeInfo instance.
  
De resulterende dataframe heeft voor elke regel in KarteringVegetatietype.csv een VegTypeInfo instance in de rij van de betreffende shape.

In [5]:
shape_path = Path("../data/notebook_data/Rottige_Meenthe_Brandemeer_2013/vlakken.shp")
csvs_path = Path("../data/notebook_data/Rottige_Meenthe_Brandemeer_2013/864_RottigeMeenthe2013/")
shape_elm_id_column = "ElmID"

access_kartering = Kartering.from_access_db(shape_path, shape_elm_id_column, csvs_path)

access_kartering.gdf

,ElmID,Datum,Opmerking,geometry,intern_id,Locatie,VegTypeInfo
0,28049,19072013,None,"POLYGON ((189433.818 538314.302, 189439.215 53...",1809,1809,"[(90%, VvN: [], SBB: ['9a2a']), (10%, VvN: [],..."
1,15034,10092013,None,"POLYGON ((190568.500 539171.122, 190538.023 53...",815,815,"[(100%, VvN: [], SBB: ['50a'])]"
2,13503,14102013,None,"POLYGON ((189538.104 539409.332, 189532.399 53...",650,650,"[(90%, VvN: [], SBB: ['9a2a']), (10%, VvN: [],..."
3,15075,12092013,None,"POLYGON ((190801.313 539561.740, 190819.617 53...",2515,2515,"[(80%, VvN: [], SBB: ['9b-a']), (10%, VvN: [],..."
4,20502,02102013,None,"POLYGON ((190497.231 537724.945, 190505.062 53...",1316,1316,"[(58%, VvN: [], SBB: ['8b3c']), (29%, VvN: [],..."
...,...,...,...,...,...,...,...
1944,25047,22082013,None,"POLYGON ((188748.713 538720.165, 188740.937 53...",1564,1564,"[(90%, VvN: [], SBB: ['36a2']), (10%, VvN: [],..."
1945,25050,22082013,None,"POLYGON ((188717.598 538767.120, 188713.450 53...",1567,1567,"[(90%, VvN: [], SBB: ['32-c']), (10%, VvN: [],..."
1946,26013,28082013,None,"POLYGON ((189977.881 538379.974, 189975.341 53...",2095,2095,"[(60%, VvN: [], SBB: ['8c1c']), (30%, VvN: [],..."
1947,26313,29082013,None,"POLYGON ((189897.152 537982.231, 189906.500 53...",2496,2496,"[(90%, VvN: [], SBB: ['5c1']), (10%, VvN: [], ..."
1948,26314,29082013,None,"POLYGON ((189907.867 537975.088, 189906.500 53...",2497,2497,"[(100%, VvN: [], SBB: ['36a2'])]"

#### Opzoeken en toevoegen VvN aan kartering

In [6]:
access_kartering.apply_wwl(wwl)
# Voorbeeld van 3 vegtypeinfos in 1 geometry
access_kartering.gdf["VegTypeInfo"].iloc[3]

[VegTypeInfo(percentage=80, SBB=[SBB(klasse='9', verbond='b', associatie=None, subassociatie=None, derivaatgemeenschap=None, rompgemeenschap='a', max_match_level=1)], VvN=[]),
 VegTypeInfo(percentage=10, SBB=[SBB(klasse='9', verbond=None, associatie=None, subassociatie=None, derivaatgemeenschap=None, rompgemeenschap='g', max_match_level=1)], VvN=[VvN(klasse='9', orde=None, verbond=None, associatie=None, subassociatie=None, derivaatgemeenschap=None, rompgemeenschap='3', max_match_level=1)]),
 VegTypeInfo(percentage=10, SBB=[SBB(klasse='9', verbond='a', associatie='2', subassociatie='b', derivaatgemeenschap=None, rompgemeenschap=None, max_match_level=4)], VvN=[VvN(klasse='9', orde='a', verbond='a', associatie='2', subassociatie='b', derivaatgemeenschap=None, rompgemeenschap=None, max_match_level=5)])]

#### Vinden van de mogelijke habitattypen voor een VegTypeInfo

Voor elke VegTypeInfo worden de mogelijke habitattypen opgezocht in de definitietabel. Deze worden vervolgens in een HabitatVoorstel gezet, samen met de code waarop de match is gemaakt, de regel in de definitietabel die is gebruikt en het niveau van de match.

In [7]:
access_kartering.apply_deftabel(dt)
access_kartering.gdf["HabitatVoorstel"]

0       [[HabitatVoorstel(vegtype=VvN(klasse='9', orde...
1       [[HabitatVoorstel(vegtype=SBB(klasse='50', ver...
2       [[HabitatVoorstel(vegtype=VvN(klasse='9', orde...
3       [[HabitatVoorstel(vegtype=SBB(klasse='9', verb...
4       [[HabitatVoorstel(vegtype=VvN(klasse='8', orde...
                              ...
1944    [[HabitatVoorstel(vegtype=VvN(klasse='36', ord...
1945    [[HabitatVoorstel(vegtype=VvN(klasse='32', ord...
1946    [[HabitatVoorstel(vegtype=VvN(klasse='8', orde...
1947    [[HabitatVoorstel(vegtype=VvN(klasse='5', orde...
1948    [[HabitatVoorstel(vegtype=VvN(klasse='36', ord...
Name: HabitatVoorstel, Length: 1949, dtype: object

In [8]:
# Voorbeeld met voor 2 VegTypeInfo's waarbij de eerste twee mogelijke voorstellen heeft
access_kartering.gdf["HabitatVoorstel"][45]

[[HabitatVoorstel(vegtype=VvN(klasse='40', orde='a', verbond='a', associatie='2', subassociatie='a', derivaatgemeenschap=None, rompgemeenschap=None, max_match_level=5), habtype='H2180_B', kwaliteit=<GoedMatig.GOED: 'Goed'>, regel_in_deftabel=176, mits=None, mozaiek=None, match_level=4, percentage=40),
  HabitatVoorstel(vegtype=VvN(klasse='40', orde='a', verbond='a', associatie='2', subassociatie='a', derivaatgemeenschap=None, rompgemeenschap=None, max_match_level=5), habtype='H91D0', kwaliteit=<GoedMatig.GOED: 'Goed'>, regel_in_deftabel=648, mits=None, mozaiek=None, match_level=4, percentage=40)],
 [HabitatVoorstel(vegtype=VvN(klasse='39', orde='a', verbond='a', associatie='1', subassociatie='a', derivaatgemeenschap=None, rompgemeenschap=None, max_match_level=5), habtype='H2180_B', kwaliteit=<GoedMatig.GOED: 'Goed'>, regel_in_deftabel=169, mits=None, mozaiek=None, match_level=4, percentage=60)]]

### De kartering formatten als een Habitattypenkartering

Dit pakt de HabitatVoorstellen uit en format het geheel als een Habitattypenkartering zoals beschreven in Gegevens Leverings Protocol (uitvraag bijlage 3a).

Voor nu checken we nog geen mitsen en mozaiek en wordt voor ieder VegTypeInfo het eerste HabitatVoorstel gebruikt.

In [9]:
final_format = access_kartering.as_final_format()
final_format

,Area,Opm,geometry,Habtype0,Perc0,Opp0,Kwal0,VvN0,SBB0,Habtype1,...,Opp3,Kwal3,VvN3,SBB3,Habtype4,Perc4,Opp4,Kwal4,VvN4,SBB4
0,3761.736281,None,"POLYGON ((189433.818 538314.302, 189439.215 53...",H7140_B,90,3.385563e+05,G,9aa2a,None,H7140_B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10442.658431,None,"POLYGON ((190568.500 539171.122, 190538.023 53...",H1110_A,100,1.044266e+06,G,None,50a,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2174.098680,None,"POLYGON ((189538.104 539409.332, 189532.399 53...",H7140_B,90,1.956689e+05,G,9aa2a,None,H7140_B,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18878.050297,None,"POLYGON ((190801.313 539561.740, 190819.617 53...",H3160,80,1.510244e+06,G,None,9b-a,H2190_C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4950.611630,None,"POLYGON ((190497.231 537724.945, 190505.062 53...",H0000,100,4.950612e+05,None,8bb4d,None,H2190_D,...,495061.162969,None,5bc5,None,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1944,929.112247,None,"POLYGON ((188748.713 538720.165, 188740.937 53...",H2180_B,90,8.362010e+04,M,36aa2a,None,H2190_C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1945,900.019817,None,"POLYGON ((188717.598 538767.120, 188713.450 53...",H0000,100,9.000198e+04,None,32rg3,None,H0000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1946,110.775294,None,"POLYGON ((189977.881 538379.974, 189975.341 53...",H2190_D,60,6.646518e+03,G,8ba2,None,H3150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1947,2740.769980,None,"POLYGON ((189897.152 537982.231, 189906.500 53...",H3150,90,2.466693e+05,G,5bb1,None,H1110_A,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1948,3366.587979,None,"POLYGON ((189907.867 537975.088, 189906.500 53...",H2180_B,100,3.366588e+05,M,36aa2a,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN